body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #Fdd935;
}

div {
    z-index: 100;
}

.whatsapp__container {
    margin: 30px;
    position: relative;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

#menu {
    display: flex;
    background-color: #Fdd935;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 1.2rem;
}

#menu img {
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: #69ac4f;
    font-weight: bold;
}

#menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#menu li {
    flex-direction: row;
    margin-right: 10px;
    border-bottom: 2px solid #Fdd935;
    padding-bottom: 9px;
}

#menu li:hover {
    border-bottom: 2px solid #69ac4f;
    padding-bottom: 7px;
}

section {
    height: 100vh;
    width: 100%;
}

.welcome {
    position: relative;
    margin-top: auto;
    background-color: #69ac4f;
    color: white;
    text-align: center;
    overflow: hidden;
}

.home__text {
    text-align: left;
    width: 500px;
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
    margin-top: 50vh;
    font-size: 1rem;
}

.welcome h1 {
    /* margin: 0; */
    padding: 0;
    font-size: 3rem;
    margin-bottom: 6px;
    margin-right: 20px;
}

.welcome h2 {
    margin: 0;
    margin-right: 20px;
}

.welcome_msg {
    width: 600px;
    width: 100%;
}

.welcome img {
    position: absolute;
    bottom: 0px;
    margin: 0;
    padding: 0;
    width: 600px;
    float: right;
}

#products {
    background-color: #f5bb00;
}

#services {
    background-color: #ec9f05;
}

#about {
    background-color: #d76a03;
}

#contact {
    background-color: #bf3100;
}