* {
    margin: 0;
    padding: 0;
    appearance: none;
    border: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #Fdd935;
}

section {
    height: 100vh;
    width: 100%;
}

#menu span {
    display: none;
}


/* WhatsApp float icon */

#whatsapp-icon {
    margin: 30px;
    position: relative;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}


/* Menu options */

#menu {
    /* box-sizing: border-box; */
    display: flex;
    background-color: #Fdd935;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.2rem;
}

#menu img {
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: #69ac4f;
    font-weight: bold;
}

#menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: auto;
}

#menu li {
    flex-direction: row;
    margin-right: 10px;
    border-bottom: 2px solid #Fdd935;
    padding-bottom: 9px;
}

#menu li:hover {
    border-bottom: 2px solid #69ac4f;
    padding-bottom: 7px;
}


/* Home page */

#home {
    position: relative;
    margin-top: auto;
    background-color: #69ac4f;
    color: white;
    text-align: center;
    overflow: hidden;
}

#home img {
    position: absolute;
    bottom: 0px;
    width: auto;
    float: right;
    height: 95%;
}

.home__title {
    margin-top: 25px;
}

.home__title h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 6px;
    margin-right: 20px;
}

.home__message {
    text-align: left;
    width: 500px;
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
    margin-top: 50vh;
    font-size: 1rem;
}

.home__message p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}


/* Section of products */

#products {
    background-color: #f5bb00;
    height: auto;
    padding-bottom: 40px;
}

#products h1 {
    text-align: center;
    color: #404040;
    padding-top: 30px;
    padding-bottom: 40px;
}

#products span {
    border-bottom: 5px solid #404040;
    border-radius: 5px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
}

.flexbox p {
    color: #606060;
    margin-bottom: 10px;
}

.flexbox p:last-child {
    padding: 10px;
}

.flexbox h2 {
    color: #353535;
    margin-bottom: 5px;
}

.flexbox h4 {
    border-radius: 3px;
    color: white;
    padding: 10px;
    background: #000;
}

.flexbox>div {
    flex: 0 1 250px;
    text-align: center;
    border: 1px solid #404040;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 4px 4px #3232326b;
    margin: 10px;
}

.flexbox img {
    max-width: 100%;
    display: block;
}


/* Section of services */

#services {
    position: relative;
    background-color: #ec9f05;
    text-align: center;
    height: auto;
    padding-bottom: 240px;
}

#services h1 {
    text-align: center;
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
}

#services span {
    border-bottom: 5px solid white;
    border-radius: 5px;
}

.flexbox-services {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;
}

.flexbox-services>div {
    width: 250px;
}

.flexbox-services img {
    border: 8px solid #d76a03;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    max-width: 100%;
}

.flexbox-services p {
    margin-bottom: 25px;
}


/* Picture of the dog over the section services/about */

#dog-over-div img {
    position: absolute;
    max-width: 300px;
    bottom: -157px;
    left: 40px;
}


/* About section */

#about {
    background-color: #d76a03;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    padding: 30px;
}

#about span {
    border-bottom: 5px solid white;
    border-radius: 5px;
}

#about h1,
p {
    color: white;
}

#about h1 {
    padding-bottom: 30px;
}

#about p {
    margin-bottom: 12px;
    max-width: 400px;
    width: 100%;
    font-size: 1rem;
}

#about img {
    vertical-align: middle;
    max-width: 450px;
    width: 100%;
    margin: 15px;
}

.about__text {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}


/* Contact section page */

#contact {
    position: relative;
    background-color: #bf3100;
    /* box-sizing: border-box; */
    height: auto;
}

#contact span:first-child {
    border-bottom: 5px solid white;
    border-radius: 5px;
}

#contact h1,
p {
    color: white;
}

#contact h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

form {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: auto;
}

input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px;
}

textarea {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    padding: 20px;
}

#sent-button {
    margin-top: 10px;
    max-width: 35%;
    font-weight: bold;
    border: 1px solid #323232;
    color: #323232;
}

#clear-button {
    max-width: 35%;
    font-weight: bold;
    border: 1px solid #323232;
    color: #323232;
}

#sent-button:hover {
    color: white;
    background: #323232;
    border: 1px solid white;
}

#clear-button:hover {
    color: white;
    background: #323232;
    border: 1px solid white;
}

footer {
    position: relative;
    width: 100%;
    background: #323232;
    height: 230px;
    max-height: auto;
}

ul {
    display: inline-block;
    width: 200px;
}

#contact-info-text {
    display: inline-block;
    max-width: 400px;
    width: 100%;
    margin: 25px;
}

#dogs-footer-image {
    position: absolute;
    max-width: 450px;
    width: 100%;
    bottom: 0px;
    right: 0px;
}

#copyright {
    color: white;
    text-align: center;
    position: absolute;
    margin-bottom: 15px;
    bottom: 0px;
    left: 30%;
    right: 30%;
}

#social-media {
    position: absolute;
    bottom: 0px;
    margin: 25px;
}

#main-menu-options a {
    color: white;
}

#main-menu-options ul {
    margin-bottom: 2.5px;
}

#social-media img:hover {
    width: 32px;
}

@media screen and (max-width: 956px) {
    #dogs-footer-image {
        display: none;
    }
}

@media screen and (max-width: 936px) {
    #home img {
        position: static;
        max-width: 600px;
        margin: auto;
        margin-top: 20px;
    }
    #about h1 {
        margin-top: 100px;
    }
    .home__message {
        text-align: center;
        margin: auto;
        margin-top: 35px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 610px) {
    #home img {
        position: static;
        max-width: 550px;
    }
}

@media screen and (max-width: 560px) {
    #home img {
        position: static;
        max-width: 480px;
    }
    .home__title h1 {
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 6px;
        margin-right: 20px;
    }
    .home__title h2 {
        font-size: 1rem;
    }
    .home__message {
        margin: 0 auto;
        margin-top: 35px;
    }
    .about__text {
        margin-left: 0px;
    }
}

@media screen and (max-width: 492px) {
    #home img {
        max-width: 420px;
    }
}