* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #Fdd935;
}

div {
    z-index: 100;
}

section {
    height: 100vh;
    width: 100%;
}

#whatsapp-icon {
    margin: 30px;
    position: relative;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

#menu {
    display: flex;
    background-color: #Fdd935;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 1.2rem;
}

#menu img {
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: #69ac4f;
    font-weight: bold;
}

#menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#menu li {
    flex-direction: row;
    margin-right: 10px;
    border-bottom: 2px solid #Fdd935;
    padding-bottom: 9px;
}

#menu li:hover {
    border-bottom: 2px solid #69ac4f;
    padding-bottom: 7px;
}

#home {
    position: relative;
    margin-top: auto;
    background-color: #69ac4f;
    color: white;
    text-align: center;
    overflow: hidden;
}

#home img {
    position: absolute;
    bottom: 0px;
    width: 650px;
    width: auto;
    float: right;
    height: 95%;
}

.home__title {
    margin-top: 25px;
}

.home__title h1 {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 6px;
    margin-right: 20px;
}

.home__message {
    text-align: left;
    width: 500px;
    max-width: 500px;
    width: 100%;
    margin-left: 30px;
    margin-top: 50vh;
    font-size: 1rem;
}

.home__message p:first-child {
    font-weight: bold;
    margin-bottom: 10px;
}

#products {
    background-color: #f5bb00;
}

#products h1 {
    position: relative;
    text-align: center;
    top: 30px;
    color: #404040;
}

#frame {
    display: flex;
    top: 70px;
    position: relative;
    border: 1px black solid;
    height: 80vh;
    width: 80vw;
    margin: auto;
}

.box {
    border: crimson 2px solid;
    height: 20vh;
    width: 20vw;
}

#services {
    background-color: #ec9f05;
}

#about {
    background-color: #d76a03;
    text-align: center;
    box-sizing: border-box;
    height: auto;
    padding: 30px;
}

#about h1,
p {
    color: white;
}

#about h1 {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 30px;
}

#about p {
    margin-bottom: 12px;
    max-width: 400px;
    width: 100%;
    font-size: 1rem;
}

#about img {
    vertical-align: middle;
    max-width: 450px;
    width: 100%;
    margin: 15px;
}

.about__text {
    margin-left: 30px;
    display: inline-block;
    vertical-align: middle;
}

#contact {
    position: relative;
    background-color: #bf3100;
    box-sizing: border-box;
}

#contact h1,
p {
    color: white;
}

#contact h1 {
    font-size: 2rem;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30vh;
    background: #323232;
    height: auto;
}

#contact-info-text {
    display: inline-block;
    max-width: 450px;
    width: 100%;
}

#dogs-footer-image {
    display: inline;
    position: relative;
    float: right;
    width: 400px;
}

#copyright {
    color: white;
    text-align: center;
    position: absolute;
    margin-bottom: 15px;
    bottom: 0px;
    left: 30%;
    right: 30%;
}